# Importante
/EIE/Presentacion/AndreuSanzSanz_T1234.mp4
/EIE/Coronavirus_monologo.mp4
# Auto
/AD/1raAVA/Fitxes/Practica_1/Practica_1/nbproject/private/
/AD/1raAVA/Fitxes/Practica_1/Practica_1/build/
/AD/1raAVA/Fitxes/Practica_1/dist/
/SGE/ComputerWorks/nbproject/private/
/SGE/ComputerWorks/build/
/SGE/Practica_02/nbproject/private/
/AD/1raAVA/Fitxes/Practica_02/build/
/AD/1raAVA/Fitxes/Practica_02/dist/
/AD/1raAVA/Fitxes/Practica_03/build/
/AD/1raAVA/Fitxes/Practica_03/dist/
/AD/1raAVA/Fitxes/Practica_04/dist/
/SGE/test/nbproject/private/
/SGE/test/build/
/AD/1raAVA/ORM/GettingStarted/target/
/s/nbproject/private/
/s/build/
/Practica_01v3/nbproject/private/
/PSP/1raAVA/Threads/Practica_01/Practica_01v3/build/
/PSP/1raAVA/Threads/Practiques/Practica_01V2/Practica_01_v2/nbproject/private/
/PSP/1raAVA/Threads/Practiques/Practica_01V2/Practica_01_v2/build/
/PSP/1raAVA/Threads/Practiques/Practica_01v4/nbproject/private/
/PSP/1raAVA/Threads/Practiques/Practica_01_v4/nbproject/private/
/PSP/1raAVA/Threads/Practiques/Practica_01_v4/build/
/PSP/1raAVA/Threads/Practiques/JavaApplication7/nbproject/private/
/PSP/1raAVA/Threads/Practiques/JavaApplication7/build/
/PSP/1raAVA/Threads/Practiques/Practica_01/build/
/PSP/1raAVA/Threads/Practiques/Practica_01/nbproject/private/
/AD/Conectores/Practica_06/nbproject/private/
/AD/Conectores/Practica_06/build/
/AD/Conectores/Practica_06/dist/
/DI/Tema_04/Actividad_01/target/
/DI/Tema_04/Actividad_01/Actividad_01b/target/
/DI/Tema_04/Actividad_02/Actividad_02/target/
