/AD/1raAVA/Fitxes/Practica_1/Practica_1/nbproject/private/
/AD/1raAVA/Fitxes/Practica_1/Practica_1/build/
/AD/1raAVA/Fitxes/Practica_1/dist/
/SGE/ComputerWorks/nbproject/private/
/SGE/ComputerWorks/build/
/SGE/Practica_02/nbproject/private/
/AD/1raAVA/Fitxes/Practica_02/build/
/AD/1raAVA/Fitxes/Practica_02/dist/
/AD/1raAVA/Fitxes/Practica_03/build/
/AD/1raAVA/Fitxes/Practica_03/dist/
/AD/1raAVA/Fitxes/Practica_04/dist/
/SGE/test/nbproject/private/
/SGE/test/build/
